@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap");

body {
    background-image: url('https://dlhines.net/public/images/transparents/pexels-roberto-nickson-2559941.jpg');
    background-size: 100% 100%;
    font-family: "Asap Condensed", sans-serif;
}
[role="main"] {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
}
.logo {
    filter:drop-shadow(2px 2px 2px #000000);
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    display: inline;
    border: 1px solid #000000;
    padding: 15px;
}
a {
    color: #222222;
}