@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap");

body {
    background-image: url('https://dlhines.net/public/images/transparents/pexels-roberto-nickson-2559941.jpg') 100% 100%; 
}
[role="main"] {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}