@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap");

body {
    background-image: url('https://dlhines.net/public/images/transparents/pexels-roberto-nickson-2559941.jpg');
    background-size: 100% 100%;
    font-family: "Asap Condensed", sans-serif;
    overflow-y: hidden;
}
[role="main"] {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
}
.logo {
    filter:drop-shadow(2px 2px 2px #000000);
}
h1 {
    font-size: 6rem;
    margin:0;
}
h2 {
    font-size: 1.5rem;
    margin:0;    
}
h3 {
    font-size: 1.3rem;
    margin:0;    
}
h1,
h2,
h3 {
    color: #EEEEEE;
    filter:drop-shadow(2px 2px 2px #000000);
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    display: inline;
    padding: 15px;
}
a {
    color: #222222;
}